@use "./abstract/variables" as *;
@import "./components/_header.scss";
@import "./components/_footer.scss";
@import "./pages/_page.scss";

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: customFont;
  src: url("../../../public/fonts/Inter/Inter.ttf");
}

body {
  background-color: $CNavyBlue;
  background-image: url("../../../public/images/Portfolio_BG.webp");
  background-position: 0 9em;
  background-repeat: no-repeat;
  font-family: customFont, sans-serif;
  min-height: 100vh;
  #root {
    min-height: 100vh;
    .App {
      min-height: 100vh;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
