.header {
  color: #75e6da;
  background-image: linear-gradient(to bottom, transparent 93%, #189ab4, transparent);
  height: 8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .header-title .title-subtext {
  text-align: center;
  font-size: 0.75rem;
}
.header .header-nav {
  display: flex;
}
.header .header-nav .nav-list {
  display: flex;
  height: 100%;
}
.header .header-nav .nav-list .list-item {
  list-style-type: none;
  margin: 0 0.5em;
}
.header .header-nav .nav-list .list-item .item-button {
  transition: 0.2s color;
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  color: #75e6da;
  font-size: 1.25rem;
  margin-bottom: 0.3em;
}
.header .header-nav .nav-list .list-item .item-button:hover {
  color: #189ab4;
}
.header .header-nav .burger-list,
.header .header-nav .nav-burger {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

@media screen and (max-width: 768px) {
  .header .header-nav .nav-list {
    display: none;
    visibility: hidden;
    width: 0;
  }
  .header .header-nav .nav-list * {
    width: 0;
    margin: 0;
    padding: 0;
  }
  .header .header-nav .nav-burger {
    cursor: pointer;
    position: relative;
    visibility: visible;
    display: block;
    align-self: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
  }
  .header .header-nav .nav-burger .hide {
    display: none;
    visibility: hidden;
  }
  .header .header-nav .nav-burger .burger-image {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .header .header-nav .burger-list {
    position: absolute;
    box-shadow: 0 0 20px black;
    top: 86px;
    left: 65%;
    visibility: visible;
    display: inline;
    list-style-type: none;
    background-color: #1e1e1e;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.5em 1em;
    z-index: 5;
    border-radius: 0.5em;
  }
  .header .header-nav .burger-list .list-item {
    margin: 0.8em 0;
  }
  .header .header-nav .burger-list .list-item .item-button {
    width: 110%;
    text-align: center;
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    color: #75e6da;
    font-size: 1.2rem;
    margin-bottom: 0.3em;
  }
}
.page-footer {
  background-image: linear-gradient(to top, transparent 93%, #189ab4, transparent);
  align-self: flex-end;
  width: 100%;
  height: 5em;
  bottom: 0;
  font-size: 1.15rem;
}
.page-footer .footer-list {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-footer .footer-list .list-item {
  width: 30%;
  list-style-type: none;
  text-align: center;
}
.page-footer .footer-list .list-item .item-link {
  color: #189ab4;
}
.page-footer .footer-list .list-item .item-link:hover {
  color: #75e6da;
}

@media screen and (min-width: 768px) {
  .page-footer {
    bottom: 0;
  }
}
.page-content {
  color: #75e6da;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}
.page-content .content-card {
  background-color: rgba(30, 30, 30, 0.9137254902);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  max-width: 500px;
  box-shadow: 0 0 20px black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em;
  border-radius: 0.5em;
  margin: 2em 0 2em 0;
}
.page-content .content-card *:not(*:last-child) {
  margin-bottom: 1em;
}
.page-content .content-card .card-title {
  font-size: 2rem;
  flex: 0 0 30%;
}
.page-content .content-card .card-image {
  width: 31%;
  min-width: 150px;
}
.page-content .content-card .card-p {
  width: 100%;
  font-size: 1.2rem;
}
.page-content .content-card .p-list {
  font-size: 1.2rem;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.page-content .content-card .p-list li {
  margin-top: 1em;
  margin-bottom: 0;
  flex: 5em;
  display: flex;
  justify-content: center;
}
.page-content .content-card .p-list li p {
  text-align: center;
  margin-bottom: 0;
}
.page-content .content-card .p-list li button {
  transition: 0.2s background-color;
  font-family: customFont;
  background-color: #1e1e1e;
  cursor: pointer;
  color: #75e6da;
  border: 3px solid #75e6da;
  box-shadow: 0 0 20px black;
  border-radius: 0.5em;
  padding: 0.75em;
  font-size: 1.2rem;
}
.page-content .content-card .p-list li button:hover {
  background-color: #189ab4;
  color: #1e1e1e;
}
.page-content .content-card a {
  color: #189ab4;
}
.page-content .content-card a:hover {
  color: #75e6da;
}
.page-content .content-project:nth-child(even),
.page-content .content-card:nth-child(even) {
  margin: 2em -1em 2em auto;
  opacity: 0;
  -webkit-animation-name: fade-in-right;
          animation-name: fade-in-right;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.page-content .content-project:nth-child(odd),
.page-content .content-card:nth-child(odd) {
  margin: 2em auto 2em -1em;
  opacity: 0;
  -webkit-animation-name: fade-in-left;
          animation-name: fade-in-left;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.page-content .content-project {
  box-shadow: 0 0 20px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(30, 30, 30, 0.9137254902);
  margin: 2em auto;
  width: 90%;
  max-width: 500px;
  border-radius: 1em;
  padding: 1em 0;
  border: 3px solid #75e6da;
}
.page-content .content-project .project-image {
  display: block;
  width: 75%;
  max-width: 600px;
  margin: 0 auto 2em auto;
  border-radius: 0.75em;
}
.page-content .content-project .project-p {
  font-size: 1.2rem;
  color: #75e6da;
  display: block;
  margin: 0 auto;
  width: 90%;
}
.page-content .content-project .project-p .project-image {
  margin-top: 2em;
  width: 90%;
}
.page-content .content-project .read-more-btn {
  transition: 0.2s background-color;
  font-family: customFont;
  background-color: #1e1e1e;
  cursor: pointer;
  color: #75e6da;
  border: 3px solid #75e6da;
  box-shadow: 0 0 20px black;
  margin: 2em;
  border-radius: 0.5em;
  padding: 0.75em;
  font-size: 1.2rem;
}
.page-content .content-project .read-more-btn:hover {
  background-color: #189ab4;
  color: #1e1e1e;
}
.page-content .content-project .project-slideshow {
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}
.page-content .content-project .project-slideshow .images {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  scroll-behavior: smooth;
  transform: translate3d(0, 0, 0);
}
.page-content .content-project .project-slideshow .images .slide {
  width: 100%;
  flex: 0 0 100%;
  margin: auto 1%;
  border-radius: 0.5em;
}
.page-content .content-project a {
  color: #189ab4;
}
.page-content .content-project a:hover {
  color: #75e6da;
}
.page-content .content-card:last-child,
.page-content .content-project:last-child {
  margin-bottom: 10em;
}
@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .page-content .content-project .project-p,
.page-content .content-project .p-list,
.page-content .content-project .card-p,
.page-content .content-card .project-p,
.page-content .content-card .p-list,
.page-content .content-card .card-p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .page-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
  .page-content .content-project:nth-child(even),
.page-content .content-card:nth-child(even),
.page-content .content-project:nth-child(odd),
.page-content .content-card:nth-child(odd) {
    margin: 1em;
  }
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: customFont;
  src: url("../../../public/fonts/Inter/Inter.ttf");
}
body {
  background-color: #1e1e1e;
  background-image: url("../../../public/images/Portfolio_BG.webp");
  background-position: 0 9em;
  background-repeat: no-repeat;
  font-family: customFont;
  min-height: 100vh;
}
body #root {
  min-height: 100vh;
}
body #root .App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */