.page-content {
  color: $CBlueGreen;
  width: 80%;
  padding-top: 2em;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  .no-page {
    background-color: $CNavyBlue;
    padding: 2em 3em;
    border-radius: 1em;
    border: 3px solid $CBlueGreen;
    text-align: center;
    .no-page-title {
      font-size: 3rem;
    }
    .no-page-content {
      font-size: 1.5rem;
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
