.page-content{
    color: $CBlueGreen;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    // Home page
    .content-card{
        background-color: $CNavyBlueTP;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        max-width: 500px;
        box-shadow: 0 0 20px black;
        height: fit-content;
        padding: 2em;
        border-radius: 0.5em;
        margin: 2em 0 2em 0;
        *:not(*:last-child){
            margin-bottom: 1em;
        }
        .card-title{
            font-size: 2rem;
            flex: 0 0 30%;
        }
        .card-image{
            width: 31%;
            min-width: 150px;
        }
        .card-p{
            width: 100%;
            font-size: 1.2rem;
        }
        .p-list{
            font-size: 1.2rem;
            width: 100%;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            li{
                margin-top: 1em;
                margin-bottom: 0;
                flex: 5em;
                display: flex;
                justify-content: center;
                p{
                    text-align: center;
                    margin-bottom: 0;
                }
                button{
                    transition: 0.2s background-color;
                    font-family: customFont;
                    background-color: $CNavyBlue;
                    cursor: pointer;
                    color: $CBlueGreen;
                    border: 3px solid $CBlueGreen;
                    box-shadow: 0 0 20px black;
                    border-radius: 0.5em;
                    padding: 0.75em;
                    font-size: 1.2rem;
                }
                button:hover{
                    background-color: $CBlueGrotto;
                    color: $CNavyBlue;
                }
            }
        }
        a{
            color: $CBlueGrotto;
        }
        a:hover{
            color: $CBlueGreen;
        }
    }

    .content-project:nth-child(even),
    .content-card:nth-child(even){
        margin: 2em -1em 2em auto;
        opacity: 0;
        animation-name: fade-in-right;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 0.2s;
    }

    .content-project:nth-child(odd),
    .content-card:nth-child(odd){
        margin: 2em auto 2em -1em;
        opacity: 0;
        animation-name: fade-in-left;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 0.1s;
    }

    // Project page
    .content-project{
        box-shadow: 0 0 20px black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $CNavyBlueTP;
        margin: 2em auto;
        width: 90%;
        max-width: 500px;
        border-radius: 1em;
        padding: 1em 0;
        border: 3px solid $CBlueGreen;

        .project-image{
            display: block;
            width: 75%;
            max-width: 600px;
            margin: 0 auto 2em auto;
            border-radius: 0.75em;
        }

        .project-p{
            font-size: 1.2rem;
            color: $CBlueGreen;
            display: block;
            margin: 0 auto;
            width: 90%;
            .project-image{
                margin-top: 2em;
                width: 90%;
            }
        }

        .read-more-btn{
            text-align: center;
            transition: 0.2s background-color;
            font-family: customFont;
            background-color: $CNavyBlue;
            cursor: pointer;
            color: $CBlueGreen;
            border: 3px solid $CBlueGreen;
            box-shadow: 0 0 20px black;
            margin: 2em;
            border-radius: 0.5em;
            padding: 0.75em;
            font-size: 1.2rem;
        }
        .read-more-btn:hover{
            background-color: $CBlueGrotto;
            color: $CNavyBlue;
        }
        .project-slideshow{
            overflow: hidden;
            width: 95%;
            margin: 0 auto;
            .images{
                position: relative;
                width: 100%;
                margin: 0 auto;
                display: flex;
                scroll-behavior: smooth;
                transform: translate3d(0,0,0);
                .slide{
                    width: 100%;
                    flex: 0 0 100%;
                    margin: auto 1%;
                    border-radius: 0.5em;
                }
            }
        }
        a{
            color: $CBlueGrotto;
        }
        a:hover{
            color: $CBlueGreen;
        }
    }

    .content-card:last-child,
    .content-project:last-child{
        margin-bottom: 10em;
    }

    .no-page{
        background-color: $CNavyBlue;
        padding: 2em 3em;
        border-radius: 1em;
        border: 3px solid $CBlueGreen;
        text-align: center;
        .no-page-title{
            font-size: 3rem;
        }
        .no-page-content{
            font-size: 1.5rem;
        }
    }

    @keyframes fade-in-left {
        0%{opacity: 0; transform: translateX(-50px);}
        100%{opacity: 1; transform: translateX(0);}
    }

    @keyframes fade-in-right {
        0%{opacity: 0; transform: translateX(50px);}
        100%{opacity: 1; transform: translateX(0);}
    }
}

@media screen and (min-width:768px) {
    .page-content{
        .content-project,
        .content-card{
            .project-p,
            .p-list,
            .card-p{
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .page-content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        justify-content: center;

        .content-project:nth-child(even),
        .content-card:nth-child(even),
        .content-project:nth-child(odd),
        .content-card:nth-child(odd){
            margin: 1em;
        }

        // .content-project:last-child,
        // .content-card:last-child{
        //     justify-self: center;
        //     margin-bottom: 8em;
        // }
    }
}